/* 样式用于购物车页面 */  
  
/* 添加间距和背景色到main元素 */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    }
    
    .navbar-menu {
    display: flex;
    justify-content: center;
    }
    
    .navbar-item {
    margin-right: 10px;
    }
    
    .navbar-link {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    }  
main {  
    padding: 20px;  
    background-color: #f5f5f5; /* 浅灰色背景 */  
  }  
    
  /* 购物车项目的容器 */  
  .cart-items {  
    display: flex;  
    flex-wrap: wrap; /* 如果项目太多，允许换行 */  
    justify-content: center; /* 水平居中 */  
  }  
    
  /* 购物车项目 */  
  .cart-item {  
    display: flex;  
    flex-direction: column;  
    align-items: flex-start; /* 垂直对齐在顶部 */  
    width: 300px; /* 设置每个项目的宽度 */  
    margin: 10px; /* 添加外边距 */  
    padding: 10px; /* 添加内边距 */  
    background-color: #fff; /* 白色背景 */  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加阴影 */  
    border-radius: 5px; /* 圆角 */  
  }  
    
  /* 图片样式 */  
  .cart-image {  
    width: 100%; /* 图片宽度设置为容器宽度 */  
    height: auto; /* 高度自动以保持图片比例 */  
    margin-bottom: 10px; /* 底部外边距 */  
  }  
    
  /* 购物车信息部分 */  
  .cart-info {  
    display: flex;  
    flex-direction: column;  
    justify-content: space-between; /* 内容在垂直方向上均匀分布 */  
    height: 100px; /* 根据需要调整高度 */  
  }  
    
  /* 数量输入和移除按钮部分 */  
  .cart-info > div {  
    display: flex;  
    justify-content: space-between; /* 水平方向上均匀分布 */  
    align-items: center; /* 垂直方向上居中对齐 */  
    margin-top: 10px; /* 顶部外边距 */  
  }  
    
  /* 移除按钮样式 */  
  .remove-item {  
    padding: 5px 10px; /* 内边距 */  
    border: none; /* 无边框 */  
    background-color: #e74c3c; /* 红色背景 */  
    color: #fff; /* 白色文字 */  
    border-radius: 5px; /* 圆角 */  
    cursor: pointer; /* 鼠标悬停时显示小手图标 */  
  }  
    
  /* 其他可能的样式 */  
  .cart-item-name, .cart-item-price {  
    margin: 0; /* 移除默认的margin */  
  }  
    
  